@import url(http://fonts.googleapis.com/css?family=Lora:400,700);

body {
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
}

.menu {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    text-align: right;
    border-right: 1px solid #999;
    padding-top: 10px;
}

.main {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.suggested {
    height: 220px;
    font-size: 12px;
}

.suggested .selected {
    background-color: #ccc;
}

.suggested a {
    display: block;
}

.toRemove {
    background-color: #cff;
}

.section {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

.title {
    border-top: 1px solid #999;
    margin-top: 50px;
    color: #999;
    margin-bottom: 5px;
    text-transform: uppercase;
}

a {
    color: #444;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.selected {
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.stat_base {
    background-color: #fee;
}

.stat_max {
    background-color: #efe;
}

.stat_synergy {
    background-color: #eef;
}

input {
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    margin-right: -1px;
    outline: 0;
    width: 100%;
    font-family: "Lora", serif;
    padding: 5px;
    text-align: right;
}

input:focus {
    border-color: #000;
}

.remove .fa:hover {
    transition: all 0.1s;
    transform: rotate(90deg);
}

.level {
    width: 52px;
}

.wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: rgba(22,22,22,0.5);
}
.box {
    position: relative;
    margin: 0 auto;
    top: 25%;
    width: 400px;
    height: 300px;
    background-color: #fff;
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}