<html ng-app="ffrk-io">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>FF Record Keeper - Inventory Optimiser</title>
    <link rel=stylesheet type="text/css" href="bower_components/uikit/css/uikit.min.css"/>
    <link rel=stylesheet type="text/css" href="bower_components/uikit/css/components/autocomplete.min.css"/>
    <link rel=stylesheet type="text/css" href="css/style.css"/>
</head>

<body>

<nav class="tm-navbar uk-navbar" ng-controller="MenuController as app">
    <div class="uk-navbar-brand">FFRK tools</div>
    <ul class="uk-navbar-nav">
        <li ng-class="{'uk-active': app.isActive('/inventory')}">
            <a href="#/inventory">{{'Inventory (menu)'|translate}}</a>
        </li>
        <li ng-class="{'uk-active': app.isActive('/abilities')}">
            <a href="#/abilities">{{'Abilities (menu)'|translate}}</a>
        </li>
    </ul>
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
            <li class="uk-parent" data-uk-dropdown>
                <a href="">
                    {{'Languages'|translate}}
                    <i class="uk-icon-caret-down"></i>
                </a>

                <div class="uk-dropdown uk-dropdown-navbar">
                    <ul class="uk-nav uk-nav-navbar">
                        <li ng-class="{'uk-active': app.main.lang == 'en'}" ng-click="app.changeLang('en')">
                            <a href="">{{'English'|translate}}</a>
                        </li>
                        <li class="uk-nav-divider"></li>
                        <li ng-class="{'uk-active': app.main.lang == 'fr'}" ng-click="app.changeLang('fr')">
                            <a href="">{{'French'|translate}}</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div ng-view></div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/angular-translate/angular-translate.min.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script src="bower_components/lodash/lodash.min.js"></script>
<script src="bower_components/uikit/js/uikit.min.js"></script>
<script src="bower_components/uikit/js/components/autocomplete.min.js"></script>
<script src="js/name.js"></script>
<script src="js/suggest.js"></script>
<script src="js/item.js"></script>
<script src="js/main.js"></script>
<script src="js/menu.js"></script>
<script src="js/inventory.js"></script>
<script src="js/abilities.js"></script>
<script src="js/app.js"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-64125016-1', 'auto');
    ga('send', 'pageview');

</script>

</body>

</html>