<div class="uk-autocomplete uk-form" id="abilityForm">
    <input type="text" ng-model="app.input"/>
</div>

<div class="uk-grid uk-grid-medium">

    <div class="uk-width-medium-1-3">
        <div class="uk-panel uk-panel-box uk-panel-header">
            <h3 class="uk-panel-title">Abilities</h3>

            <ul class="uk-list uk-list-line">
                <li class="ability" ng-repeat="ability in app.selectedAbilities track by $index">
                    <div class="uk-icon uk-icon-remove uk-icon-hover" ng-click="app.removeAbility(ability)"></div>
                    {{ability.name}}, {{ability.type}}, {{ability.rarity}}*
                </li>
            </ul>

        </div>
    </div>

    <div class="uk-width-medium-1-3">
        <div class="uk-panel uk-panel-box uk-panel-header">
            <h3 class="uk-panel-title">Characters</h3>

            <div class="character" ng-repeat="character in app.selectedCharacters track by $index">
                {{character.name}} {{character.origin}}
                <ul>
                    <li ng-repeat="ability in character.choices">
                        {{ability.name}}, {{ability.type}}, {{ability.rarity}}*
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>