<div class="uk-grid uk-grid-medium uk-grid-margin">

    <div class="uk-width-medium-1-3">
        <div class="uk-panel uk-panel-box uk-panel-box-primary">

            <div class="section search">
                <input type="text" placeholder="{{'Add item'|translate}}" ng-keyup="app.findSuggestions($event)"
                       ng-model="app.typingName"/>
            </div>
            <div class="section suggested">
                <a href="" ng-repeat="suggest in app.suggested" ng-bind-html="suggest.name.formatted()"
                   ng-class="{selected: $index == app.selected}"
                   ng-click="app.chooseSuggest(suggest)">
                </a>
            </div>

        </div>
    </div>

    <div class="uk-width-medium-1-3">
        <div class="uk-panel uk-panel-box uk-panel-header">
            <h3 class="uk-panel-title">{{'Realm'|translate}}</h3>

            <p>{{'realm notice'|translate}}</p>

            <form class="uk-form">
                <label>
                    {{'current realm'|translate}}
                    <select ng-options="realm for realm in app.realms"
                            ng-model="app.realm"
                            ng-change="app.saveRealm()">
                    </select>
                </label>
            </form>
        </div>
    </div>

    <div class="uk-width-medium-1-3">
        <div class="uk-panel uk-panel-box uk-panel-header">
            <h3 class="uk-panel-title">{{'Optimize'|translate}}</h3>

            <p>{{'optimize notice'|translate}}</p>
            <button class="uk-button uk-button-primary" ng-click="app.optimize()">{{'Optimize'|translate}}</button>
        </div>
    </div>

</div>

<div class="uk-block">
    <div class="uk-panel-box">

        <div ng-include="'templates/table/without-realm.html'" ng-if="!app.realm"></div>
        <div ng-include="'templates/table/with-realm.html'" ng-if="app.realm"></div>

    </div>
</div>

<div class="wrapper" ng-show="app.box != null" ng-cloak>
    <div class="box" ng-show="app.box == 'import'">
        Import: <br/>
        <textarea ng-model="app.importArea"></textarea><br/>
        <button ng-click="app.import()">Import</button>
        <div class="close" ng-click="app.closeBox()">X</div>
    </div>
    <div class="box" ng-show="app.box == 'export'">
        Export: <br/>
        <textarea>{{app.exportArea}}</textarea>

        <div class="close" ng-click="app.closeBox()">X</div>
    </div>
</div>